@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<h2>Os preferidos da semana</h2>

<div class="row">
    @foreach(var Produto in Model.ProdutosPreferidos)
    {
       <partial name="_ProdutosResumo" for="@Produto"/> 
    }
</div>
