<div class="container">
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <h5><email endereco="wesley.soliv@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br/>
            <h5>(11) 99181-1722</h5>
            <br />
            <h5>Av Juscelino Kubichek 1000 - 11360300 - São Paulo</h5>
        </p>
    </div>
</div>
